body{
    font-family: 'Courier New', Courier, monospace;
}
.titulo{
    text-align: center;
    line-height: 260px;
    font-size: 40px;
}
.messageError{
    display: none;
    color: white;
    background-color: red;
    opacity: 0.5;
    width: 50%;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.messageError.error{
    display: block;
    margin-left: 8%;
}

.input-btn{
    text-align: center;
    margin-top: -20%;
}
input{
    width: 70%;
    border-style: dashed;
}
input:hover{
    width: 72%;
    border-style: double;
}

#taskButton{
    background-color: white;
    border-style: dashed;
}
#taskButton:hover{
    background-color:rgb(255, 255, 255);
    border-style: double;
}
#taskButton:active{
    background-color:rgb(0, 0, 0);
    color: white;
    border-style: double;
}

.section-todo-list{
    display: block;
    background-image: url("imagenes/portafolio7.png");
    background-image: center;
    background-size: 599px;
    width: 600px;
    height: 869px;
    margin: auto;
}

.list-tasks{
    margin-left: 5%;
    font-size: 18px;
}

.list-tasks li{
    list-style: none;
}

.list-tasks li:hover{
    margin-left: 1%;
    text-decoration:line-through red;
    font-size: 20px;
}

.remove-all{
    margin-left: 10%;
    background-color:white;
    border-style: dashed;
}

.remove-all:hover{
    margin-left: 10%;
    background-color:rgb(255, 255, 255);
    border-style: double;
    border-color: red;
}
.remove-all:active{
    margin-left: 10%;
    background-color:rgb(0, 0, 0);
    color: white;
    border-style: double;
}